// <SELECT>
// Сніппет (HTML): sel
._select-open {
  &.select_show-top {
    .select__title {
      border-radius: 0 0 .75rem .75rem;
    }
  }
  .select__title {
    border-radius: .75rem .75rem 0 0;
  }
}

.select_tags {
  .select__content {
    display: inline-flex;
    flex-wrap: wrap;
    gap: .25rem;
  }
}

.select {
	min-width: 0;
	position: relative;
  
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		border-radius: .75rem;
    width: 100%;
    border: 1px solid var(--grayscale-700);
    background-color: var(--backgroundsecondary) !important;
    color: var(--textsecondary);
   
    letter-spacing: 0.25px;
    transition: all 0.3s;
    outline: none;
    
		cursor: pointer;
		width: 100%;
    @media (min-width:$mobile){
      font: var(--body-lg-medium); 
    }
    @media (max-width:$mobile){
      font: var(--body-md-medium); 
    }
    &:hover{
      border-color: var(--grayscale-600);
      background-color: var(--backgroundprimary) !important;
    }
    ._select-open & {
      border-color: var(--grayscale-500);
      border-bottom: none;
      background-color: var(--backgroundprimary) !important;
    }
	}
	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "";
      width: 1rem;
      height: 1rem;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
      flex: 0 0 1rem;
      -webkit-mask: url('@img/icons/select.svg') no-repeat;
      background-color: #9A9CAC;
      margin-right: 15px;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
      white-space: nowrap;
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__content
	&__content {
		flex: 1 1 auto;
    display: inline-flex;
    align-items: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
    border-right: 1px solid var(--grayscale-700);
    padding: .625rem 1rem;
    margin-right: 15px;
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		position: absolute;
		top: calc(100% - rem(1));
		border-radius: 0 0 .75rem .75rem;
		min-width: 100%;
		left: 0;
    border: 1px solid var(--grayscale-700);
    background-color: var(--backgroundsecondary);
		padding: 10px 0px 5px 0px;
    ._select-open & {
      border-color: var(--grayscale-500);
      background-color: var(--backgroundprimary);
    }
    &-footer {
      padding: .625rem .625rem .5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      border-top: 1px solid var(--grayscale-700);
      margin-top: .625rem;
      &-apply {
        max-width: 18.75rem;
        width: 100%;
        margin: 0 auto;
      }
    }
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: rem(200);
    /* width */
    &::-webkit-scrollbar {
      width: 4px;
      margin-right: .5rem;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: .25rem;
      background-color: var(--texttertirary);
    }
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
    color: var(--textprimary);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.25px;
    padding: .3125rem 1rem;

     
    &:last-child{
      border-radius: 0 0 .75rem .75rem; 
    }
    &.platform {
      display: flex;
      align-items: center;
      &[hidden] {
        display: none !important;
      }
    }
		&._select-selected {
			background-color: var(--grayscale-700);
		}
		@media (any-hover: hover) {
			&:hover {
        background-color: var(--backgroundsecondary);
			}
		}
    &.selected {
      display: none;
    }
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
    margin-right: .5rem;
	}
	&__text {
	}

	&_show-top {
		.select__options {
			top: auto;
			bottom: calc(100% - rem(1));
			border-radius: .75rem .75rem 0 0;
      overflow: hidden;
      border-top: 1px solid var(--grayscale-700);
		}
	}

	// Стан селекту
	&._select-open {
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

.select_combobox {
  .select__value._select-pseudo-label::before {
    opacity: 1;
    color: var(--textsecondary);
    @media (min-width:$mobile){
      font: var(--body-lg-medium); 
    }
    @media (max-width:$mobile){
      font: var(--body-md-medium); 
    }
    letter-spacing: 0.25px;
    margin-right: .625rem;
  }
  
  .select__value._select-pseudo-label::after {
    margin-right: 0;
  }
  .select__value {
    padding:0  1rem;
    align-items: center;
    .select__content {
      color: #FFF;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0.5rem 0.5rem 0.5rem 0;
      padding-right: 0.625rem;
      display: inline-flex; /* Чтобы min-height работал корректно, лучше использовать inline-block вместо inline */
      vertical-align: bottom;
    line-height: 0.5;
    }
  }
}

.select-lg-width {
  max-width: 18.75rem;
  width: 100%;
}
.select-md {
  &-width {
   
    width: 100%;
  
  }
  .select_combobox {
    .select__title {
      min-height: 2.5rem;
    }
  }
}

// Тег
._select-tag {

    display: inline-block;
    vertical-align: middle;
  
  height: 2rem;
  position: relative;
  border-radius: 6.25rem;
  background-color: var(--yellow-300);
  display: flex;
  padding: .5rem  0.75rem .5rem .75rem;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  color: var(--textblack);
  font: var(--body-sm-regular);
  letter-spacing: 0.25px;
  cursor: pointer;
  &::before{
    content:'';
    width: 0.75rem;
    height: 0.75rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: .25rem;
    top: .5rem;
    background-color: var(--yellow-300);
    filter: blur(16px);
  }
}
